**/.DS_Store
Software/Perch2.0/perch_v2.onnx
*.wav
*.onnx

# Python junk
__pycache__/
*.pyc
*.png

# Mac system files
.DS_Store

# Model weights / large files
*.pth

Software/PyTorch/code/cnn/cnnnet2.pth
Software/PyTorch/code/cnn/cnnnet.pth

venv/