**/.DS_Store
Software/Perch2.0/perch_v2.onnx
*.wav
*.onnx

# Python junk
__pycache__/
*.pyc

# Mac system files
.DS_Store

# Model weights / large files
*.pth

Software/PyTorch/code/cnn/cnnnet2.pth
Software/PyTorch/code/cnn/cnnnet.pth

venv/
.venv/
Software/ar_beats/models/unilm/
Software/ar_beats/checkpoints/BEATs_iter3_plus_AS2M.pt
Software/ar_beats/checkpoints/best.pt